#sidebar {
  width: 35%;
  height: 100%;

  background-color: rgb(51, 83, 132);

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {
  #sidebar {
    width: 100%;

    flex-direction: column-reverse;
  }
}
