.sidebar-section {
  width: 80%;
  color: white;

  margin-bottom: 2rem;
}

.sidebar-heading {
  font-size: 0.9rem;
  letter-spacing: 3px;
}

.section-item {
  display: flex;

  height: 30px;
  max-width: 100%;

  margin: 1rem 0;
}

.icon,
.section-item-value {
  margin: 0.7rem;
}

.section-item-value {
  font-size: 0.7rem;
}
