* {
  box-sizing: border-box;
}

.App,
#preview-div {
  display: flex;
}

#form-div {
  border-right: 1px solid grey;
}

#preview-div {
  min-height: 100vh;
}

#form-div,
#preview-div {
  width: 50vw;
  height: 100vh;
}
