* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
}

.App,
#preview-div {
  display: flex;
}

#form-div {
  min-width: 50vw;
}

#form-div,
#preview-div {
  min-height: 100vh;
}

@media (max-width: 767px) {
  #preview-div {
    flex-direction: column-reverse;
  }
}

@media (max-width: 1023px) {
  .App {
    flex-direction: column-reverse;
  }

  #form-div {
    padding: 3rem;
  }

  #preview-div {
    border-bottom: 1px solid grey;
  }
}

@media (min-width: 1024px) {
  #form-div {
    max-height: 100vh;
    padding: 5rem;
    overflow-y: scroll;
  }

  #preview-div-wrapper {
    max-height: 100vh;
    overflow-y: scroll;
  }
}
